.selected{
    background-color: #0680de;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px #e0e0e0;
}
button{
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.commentBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e0e0e0;
    width: 500px;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}