* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;;
}

#main {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
    margin: auto;
    padding: 20px;
    min-height: 80vh;
}

.row {
    display: flex;
    width: 80%;
}

.row .rowLabel {
    flex: 2;
    display: flex;
    align-items: center;
    min-width: 190px;
}

.row input {
    flex: 1;
    width: 170px;
}

.rangeSet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main{
        text-align: center;
    }
}
