.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin: 0;
  border-bottom: 30px solid #58df58;
}
.block{
  width: 100px;
  height: 30px;
  margin: 2px;
}
.menu{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 2px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.appMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header{
    background-color: saddlebrown;
    padding: 10px;
    margin: 5px;
}
.main button{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}